*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    color: #fff;
    padding: 0;
    margin: 0;
    background-color: #5A747D;
}
a{
    text-decoration: none;
    cursor: pointer;
}
h1,h2{
    font-weight: bold;
}
#form-welcome{
    background-color: #FFFFFF;
}
#form-welcome img{
    width: 13vw;
    margin: 0.5em auto;
}
#form-welcome input{
    background-color: #E5E5E5;
    border: #777 1px solid;
    height: 50px;
    border-radius: 50px;
    margin: 0.8em 0;
}
#form-welcome input::placeholder{
    font-size: 20px;
    font-weight: 600;
    color: #333;
    padding: 0.8em;
}
#form-welcome button{
    border-radius: 50px;
    background-color: #708C97;
    width: 321px;
    height: 62px;
    cursor: pointer;
    border: 1px solid #222;
}